Repository 1J3P/FarmFarm, pull requests merged in 2023-05, with the labels that each got.

#19 feat: #14 - farm 조회, 상세조회, 등록, 수정, 삭제 API
  .idea/misc.xml
  .idea/runConfigurations.xml
  FarmFarm.iml
  src/main/java/com/example/farmfarm/Controller/FarmController.java
  src/main/java/com/example/farmfarm/Entity/FarmEntity.java
  src/main/java/com/example/farmfarm/Repository/FarmRepository.java
  src/main/java/com/example/farmfarm/Service/FarmService.java
  target/classes/application.properties
Labels: 영린🍎, Farm🌾

#20 feat: #17 - Product 등록, 조회, 수정, 삭제, 리스트 조회 구현
  .idea/misc.xml
  .idea/runConfigurations.xml
  src/main/java/com/example/farmfarm/Controller/FarmController.java
  src/main/java/com/example/farmfarm/Controller/ProductController.java
  src/main/java/com/example/farmfarm/Entity/ProductCategoryEntity.java
  src/main/java/com/example/farmfarm/Entity/ProductEntity.java
  src/main/java/com/example/farmfarm/Repository/ProductRepository.java
  src/main/java/com/example/farmfarm/Repository/ProductRepostiory.java
  src/main/java/com/example/farmfarm/Service/ProductService.java
  src/main/resources/application.properties
  target/classes/application.properties
Labels: harin

#25 feat: #24 - Group, Payment Entity 생성 및 파일 추가
  .gitignore
  src/main/java/com/example/farmfarm/Controller/GroupController.java
  src/main/java/com/example/farmfarm/Controller/PaymentController.java
  src/main/java/com/example/farmfarm/Entity/GroupEntity.java
  src/main/java/com/example/farmfarm/Entity/PaymentEntity.java
  src/main/java/com/example/farmfarm/Repository/GroupRepository.java
  src/main/java/com/example/farmfarm/Repository/PaymentRepository.java
  src/main/java/com/example/farmfarm/Service/GroupService.java
  src/main/java/com/example/farmfarm/Service/PaymentService.java
  src/main/java/com/example/farmfarm/config/WebSecurityConfig.java
Labels: 영린🍎, Group👩‍👩‍👧‍👦

#31 feat: enquiry 수정, card_info 추가
  src/main/java/com/example/farmfarm/Controller/EnquiryController.java
  src/main/java/com/example/farmfarm/Entity/AmountEntity.java
  src/main/java/com/example/farmfarm/Entity/CardInfoEntity.java
  src/main/java/com/example/farmfarm/Entity/OrderEntity.java
  src/main/java/com/example/farmfarm/Service/EnquiryService.java
Labels: hyeonah

#39 feat: #36-농장 정렬 및 검색 API 구현
  src/main/java/com/example/farmfarm/Controller/FarmController.java
  src/main/java/com/example/farmfarm/Entity/FarmEntity.java
  src/main/java/com/example/farmfarm/Repository/FarmRepository.java
  src/main/java/com/example/farmfarm/Service/FarmService.java
Labels: 영린🍎, Farm🌾

#57 feat: #50 - 농장 관련 UI 작업
  src/main/webapp/WEB-INF/jsp/farm/allFarm.jsp
  src/main/webapp/WEB-INF/jsp/farm/farmDetails.jsp
Labels: 영린🍎, Farm🌾

#55 feat: hyeonahhh view 반영
  src/main/webapp/WEB-INF/jsp/editMyPage.jsp
  src/main/webapp/WEB-INF/jsp/myAuctionList.jsp
  src/main/webapp/WEB-INF/jsp/myOrderList.jsp
  src/main/webapp/WEB-INF/jsp/myReviewList.jsp
  src/main/webapp/WEB-INF/jsp/productDetails_enquiry.jsp
  src/main/webapp/WEB-INF/jsp/shoppingCart.jsp
  src/main/webapp/WEB-INF/jsp/writeReview.jsp
Labels: hyeonah🤗
